<!DOCTYPE html>
<html>
<head>
	<title>helo world</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/materialize.min.css">
	<script type="text/javascript" src="myscript.js"></script>
</head>
<body class="container jumbotron" ng-app="david">
<style type="text/css">input
	input[type=text]:focus{
		border-bottom: 2px solid #304ffe; 
	}
</style>
<form class="card-panel" enctype="utf_8">
<div>
  
    <input type="text" ng-model="first" id="boxa" placeholder="Box 1">
  
<input type="text" name="second" class="form-control" ng-model="second" placeholder="Box 2" id="boxb">
<input type="text" name="third" class="form-control" ng-model="third" placeholder="Box 3" id="boxc">
<input type="text" name="fourth" class="form-control" ng-model="fourth" placeholder="Box 4" id="boxd">
<input type="text" name="fifth" class="form-control" ng-model="fifth" placeholder="Box 5" id="boxe">
<button class="waves-effect waves-light btn indigo accent-4" style="margin-left:80%;margin-bottom:5%; border-radius:5px;" onclick="logger()">Submit<i class="material-icons right">send</i></button>
</form>
<p class="card-panel indigo accent-4" align="center">The contents of the boxes should be printed below too</p>
<pre>Box 1: {{first}}</pre>
<pre>Box 2: {{second}}</pre>
<pre>Box 3: {{third}}</pre>
<pre>Box 4: {{fourth}}</pre>
<pre>Box 5: {{fifth}}</pre>


<script src="node_modules/angular/angular.min.js"></script>
<script src="app.js"></script>
<script>
function logger() {
    var boxouta = document.getElementById("boxa").value;
   	var second = document.getElementById("boxb").value;
   	var third = document.getElementById("boxc").value;
   	var fourth = document.getElementById("boxd").value;
   	var fifth = document.getElementById("boxe").value;
    console.log("box 1: ", boxouta)
    console.log("box 2: ", second)
    console.log("box 3: ", third)
    console.log("box 4: ", fourth)
    console.log("box 5: ", fifth)
}
</script>

</body>
</html>